@charset 'UTF-8';

@import 'reset';
@import 'fonts';
@import 'variables';
@import 'mixins';

@import 'blocks/top';
@import 'blocks/menu';
@import 'blocks/icons';
@import 'blocks/about';
@import 'blocks/offers';
@import "blocks/price";
@import 'blocks/links';
@import "blocks/arrow-up";

body {
    @include min-max(320px, 100%, 0);
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

.wrap {
    @include min-max(320px, 1200px, 15px);
}

p {
    color: $black;
}